
body{
    background: #dfdfdf;
}

h1 {
    font-weight: 500;
    font-size: 50px;
    text-align: center;
}

h2 {
    font-weight: 100;
    font-family: "Helvetica Neue";
    font-size: 30px;
    display: inline-block;
    border: 2px solid #666666;
	padding: 2px 15px; 
	background-color: #bfbfbf;   
}

h3 {
    font-weight: 700;
    font-family: "Helvetica Neue";
    font-size: 24px;
    display: inline-block;
}

p {
	font-size: 18px;
}

select {
	padding: 10px;
	border: 2px solid #6a6a6a;
	box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
	border-radius:10px;

}



#app {
	border-top: 1px dashed;
	padding: 0 17px;
}


.input{
	margin: 5px 40px;
  width: 40%;
}

.output{
	margin: 0 40px;
}

.description button {
  border:1px solid #6ab446;
  background:#6ab446;
  border-radius: 0;
  color:#fff;
}
.description button:hover {
  border:1px solid #fff;
  background:#fff;
  color:#000;
}
