<!DOCTYPE HTML>
<html>
<head>
    <title>Remotely Green</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='css/index.css') }}>
    <script type="text/javascript" src={{ url_for('static', filename='js/addFields.js') }}></script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
<h1>Remotely Green API</h1>
<div class="input">
    <form action="/calculator/remote" name="remote">
        <fieldset>
            <legend><h2>Remote meeting</h2></legend>

            <p>Input your devices and the video conferencing apps you use:</p>

            <input class="form-control" name="deviceCount" id="deviceCount" type="hidden" value="0">
            <input name="appCount" id="appCount" type="hidden" value="0">

            <div class="row">

                <div class="column">
                    <div class="remoteMeetingDevices" id="remoteMeetingDevices" style="display :none">
                        <br>
                        <input type="button" class="form-control" id="removeDeviceButton" value="Remove Device"
                               onclick="this.parentNode.parentNode.removeChild(this.parentNode);">
                        <fieldset>
                            <legend><h3>Device</h3></legend>
                            <p>Type of device
                                <select class="form-control" name="typeDevice" size=1 id="typeDeviceId" onchange="notDisplayScreen(this)">
                                    <option value="laptop" id="laptop">laptop</option>
                                    <option value="persComputer" id="persComputer">personal computer</option>
                                    <option value="highCODEC" id="highCODEC">high CODEC</option>
                                    <option value="lowCODEC" id="lowCODEC">low CODEC</option>
                                    <option value="projector" id="projector">projector</option>
                                    <option value="screen" id="screen">screen</option>
									<option value="router" id="router">router</option>
                                    <option value="camera" id="camera">camera</option>
                                    <option value="speaker" id="speaker">speaker</option>
                                    <option value="micro" id="micro">microphone</option>
                                </select>
                            </p>

                            <p>Model<input class="form-control col-xs-3" type="text" name="model" id="model"
                                           placeholder="model"></p>
							<div class="screenType" id="screenType"	style="display : none">		 
								<p>Size of screen (diagonal) <input class="form-control" type="number" min="0" name="inch"
																	id="inch" placeholder="inch">
								</p>
	
								<p>Format of screen
									<input style="width: 40%;" class="form-control" type="number" min="0" name="long"
										id="long" placeholder="long">/
									<input style="width: 40%;" class="form-control" type="number" min="0" name="large"
										id="large" placeholder="large">
								</p>
							</div>

                            <p>Date of purchase <input class="form-control" type="date" id="date" name="datePurchase">
                            </p>
                        </fieldset>
                    </div>

                    <form method="post" action="cgi-bin/show_params.cgi" id="addingDevices" name="addingDevices">
                        <span id="addedDevice"></span>
                        <p><input class="form-control" type="button" id="moreDevice" value="Add Device"></p>
                    </form>
                </div>

                <div class="column">
                    <div class="remoteMeetingApp" id="remoteMeetingApp" style="display : none">
                        <br>
                        <input type="button" class="form-control" id="removeAppButton" value="Remove App"
                               onclick="this.parentNode.parentNode.removeChild(this.parentNode);">
                        <fieldset>
                            <legend><h3>App</h3></legend>

                            <p>Name of the app <input class="form-control" type="text" name="app_name" id="app_name"
                                                      placeholder="App name">
                            <p>

                            <p>Duration call <input class="form-control" type="time" step="1" name="duration"
                                                    id="duration"></p>

                            <p>Location when remote meeting<br><br>
                                <input class="form-control" type="text" name="nbAddress" id="nbAddress" placeholder="Nb"
                                       size="5">
                                <input class="form-control" type="text" name="street" id="street" placeholder="Street"
                                       size="30">
                                <input class="form-control" type="text" name="postalCode" id="postalCode"
                                       placeholder="Postal Code" size="10">
                                <input class="form-control" type="text" name="city" id="city" placeholder="City"
                                       size="15">
                                <input class="form-control" type="text" name="country" id="country"
                                       placeholder="Country">
                            </p>
                        </fieldset>
                    </div>

                    <form method="post" action="cgi-bin/show_params.cgi" id="addingApp" name="addingApp">
                        <span id="addedApp"></span>
                        <p><input class="form-control" type="button" id="moreApp" value="Add App">
                        <p>
                    </form>
                </div>
            </div>

            <br>
            <button class="removeDeviceButton, btn btn-outline-secondary btn-lg" type="submit"
                    id="sendRemote">Submit
            </button>
            <br>

        </fieldset>
    </form>
    <br>
    <hr>

    <form action="/calculator/in-person" name="inPerson">
        <fieldset>
            <legend><h2>Meeting in person</h2></legend>
            <div class="inPersonMeeting" id="inPersonMeeting" style="display : none">

                <br>
                <input class="form-control" type="button" id="removeinPersonButton" value="Remove Route"
                       onclick="this.parentNode.parentNode.removeChild(this.parentNode);">
                <p>Start Location<br><br>
                    <input class="form-control" type="text" name="nbAddressStart" id="nbAddressStart" placeholder="Nb"
                           size="5">
                    <input class="form-control" type="text" name="streetStart" id="streetStart" placeholder="Street"
                           size="30">
                    <input class="form-control" type="text" name="postalCodeStart" id="postalCodeStart"
                           placeholder="Postal Code" size="10">
                    <input class="form-control" type="text" name="cityStart" id="cityStart" placeholder="City"
                           size="15">
                    <input class="form-control" type="text" name="countryStart" id="countryStart" placeholder="Country">
                </p>

                <p>Destination Location<br><br>
                    <input class="form-control" type="text" name="nbAddressDst" id="nbAddressDst" placeholder="Nb"
                           size="5">
                    <input class="form-control" type="text" name="streetDst" id="streetDst" placeholder="Street"
                           size="30">
                    <input class="form-control" type="text" name="postalCodeDst" id="postalCodeDst"
                           placeholder="Postal Code" size="10">
                    <input class="form-control" type="text" name="cityDst" id="cityDst" placeholder="City" size="15">
                    <input class="form-control" type="text" name="countryDst" id="countryDst" placeholder="Country">
                </p>

                <p>Transport used
                    <select class="form-control" name="transport" size=1 id="transport">
                        <option value="train" id="train">train</option>
                        <option value="" id="car">car</option>
                        <option value="plane" id="plane">plane</option>
                        <option value="boat" id="boat">boat</option>
                        <option value="bus" id="bus">bus</option>
                        <option value="tram" id="tram">tram</option>
                        <option value="bicycle" id="bicycle">bicycle</option>
                        <option value="moto" id="moto">moto</option>
                        <option value="metro" id="metro">metro</option>
                        <option value="foot" id="foot">by foot</option>
                        <option value="eBike" id="eBike">electric bike</option>
                        <option value="eScooter" id="eScooter">eletric scooter</option>
                    </select>
            </div>

            <form method="post" action="cgi-bin/show_params.cgi" id="inPersonAdd" name="inPersonAdd">
                <span id="inPersonAdded"></span>
                <p><input class="form-control" type="button" id="moreDst" value="Add Route">
                <p>
            </form>

            <br>
            <button class="btn btn-outline-secondary btn-lg" type="submit" name="sendInPerson" id="sendInPerson">
                Submit
            </button>
            <br>

            <input name="destinationCount" id="destinationCount" type="hidden" value="0">
        </fieldset>
    </form>
</div>
<hr>

{% if data %}
    <div class="output">
        <fieldset>
            <legend><h2>Output</h2></legend>
            <fieldset>
                <legend><h3>Remote meeting output</h3></legend>

                <p>Consumption category : <span class="consumptionCatRemote"><b>{{ data.remote.consumption }}</b></span>
                </p>


                <p>Total emission of CO2 [kg/h/user] : <span
                        class="totalEmissionRemote"><b>{{ data.remote.total_emission_co2 }}</b></span></p>
            </fieldset>
            <br>
            <fieldset>
                <legend><h3>In person meeting output</h3></legend>

                <p>Consumption category in person meeting : <span
                        class="consumptionCatInPers"><b>{{ data.in_person.consumption }}</b></span></p>

                <p>Total emission of CO2 due to travel[kg/h/user] : <span
                        class="totalEmissionInPers"><b>{{ data.in_person.total_emission_co2 }}</b></span></p>
            </fieldset>
            <br>
            <fieldset>
                <legend><h3>Difference of CO2 emissions</h3></legend>
                <p>Difference between remote and in person meetings (in person - remote) : <span
                        class="diffEmission"><b>{{ data.difference }}</b></span></p>
            </fieldset>
        </fieldset>
    </div>
{% endif %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>
