<!DOCTYPE HTML>
<html>
    <head>
        <title>Remotely Green</title>
        <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='css/index.css') }}>
		<script type="text/javascript" src={{ url_for('static', filename='js/addFields.js') }}></script>
		<script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
		
    </head>
    <body>
        <h1>Remotely Green API</h1>
		<div class="input">
			<form action="/calculator/remote" name="remote">
				<fieldset>
					<legend><h2>Remote meeting</h2></legend>
					
					<div class="remoteMeetingDevices" id ="remoteMeetingDevices" style="display :none">
						<br><button class="removeDeviceButton" id="removeDeviceButton" value="Remove Device" onclick="this.parentNode.parentNode.removeChild(this.parentNode);"><i class="fas fa-minus"></i></button>
						<fieldset>
							<legend><h3>Device</h3></legend>
							<p>Type of device 
								<select name="typeDevice" size=1 id="typeDevice">
									<option value="laptop" id="laptop">laptop</option>
									<option value="persComputer" id="persComputer">personal computer</option>
									<option value="highCODEC" id="highCODEC">high CODEC</option>
									<option value="lowCODEC" id="lowCODEC">low CODEC</option>
									<option value="projector" id="projector">projector</option>
									<option value="router" id="router">router</option>
									<option value="camera" id="camera">camera</option>
									<option value="speaker" id="speaker">speaker</option>
									<option value="micro" id="micro">microphone</option>
								</select>
							</p>
						
							<p>Model<input type="text" name="model" id="model" placeholder="model"></p>
							<p>Size of screen (diagonal) <input type="number" min="0" name="inch" id="inch" placeholder="inch"></p>
						
							<p>Format of screen 
								<input type="number" min="0" name="long" id="long" placeholder="long">/
								<input type="number" min="0" name="large" id="large" placeholder="large">
							</p>
						
							<p>Date of purchase <input type="date" id="date" name="datePurchase"></p>
						</fieldset>
					</div>
					
					<form method="post" action="cgi-bin/show_params.cgi" id ="addingDevices" name="addingDevices">
						<span id ="addedDevice"></span>
						<p><input type="button" id="moreDevice" value="Add Device"></p>
					</form>
					
					<div class="remoteMeetingApp" id="remoteMeetingApp" style="display : none">
						<br><button id="removeAppButton" value="Remove App" onclick="this.parentNode.parentNode.removeChild(this.parentNode);"><i class="fas fa-minus"></i></button>
						<fieldset>
							<legend><h3>App</h3></legend>
							<p>Name of the app <input type="text" name="app_name" id="app_name" placeholder="App name"><p>
							<p>Duration call <input type="time" step="1" name="duration" id="duration"></p>
							<p>Location when remote meeting<br><br>
								<input type="text" name="nbAddress" id="nbAddress" placeholder="Nb" size="5">
								<input type="text" name="street" id="street" placeholder="Street" size="30">
								<input type="text" name="postalCode" id="postalCode" placeholder="Postal Code" size="10">
								<input type="text" name="city" id="city" placeholder="City" size="15">
								<input type="text" name="country" id="country" placeholder="Country">
							</p>
						</fieldset>
					</div>
					
					<form method="post" action="cgi-bin/show_params.cgi" id="addingApp" name="addingApp"> 
						<span id ="addedApp"></span>
						<p><input type="button" id="moreApp" value="Add App"><p>
					</form>
					
					<p><button type="submit" name="sendRemote" id="sendRemote">Submit</button></p>
				</fieldset>
			</form>
			<br><hr>
			
			<form action="/calculator/in-person" name="inPerson">
				<fieldset>
					<legend><h2>Meeting in person</h2></legend>
					<div class="inPersonMeeting" id="inPersonMeeting" style="display : none">
					<br><button id="removeinPersonButton" value="Remove Route" onclick="this.parentNode.parentNode.removeChild(this.parentNode);"><i class="fas fa-minus"></i></button>
					<p>Start Location<br><br>
						<input type="text" name="nbAddressStart" id="nbAddressStart" placeholder="Nb" size="5">
						<input type="text" name="streetStart" id="streetStart" placeholder="Street" size="30">
						<input type="text" name="postalCodeStart" id="postalCodeStart" placeholder="Postal Code" size="10">
						<input type="text" name="cityStart" id="cityStart" placeholder="City" size="15">
						<input type="text" name="countryStart" id="countryStart" placeholder="Country">
					</p>
					
					<p>Destination Location<br><br>
						<input type="text" name="nbAddressDst" id="nbAddressDst" placeholder="Nb" size="5">
						<input type="text" name="streetDst" id="streetDst" placeholder="Street" size="30">
						<input type="text" name="postalCodeDst" id="postalCodeDst" placeholder="Postal Code" size="10">
						<input type="text" name="cityDst" id="cityDst" placeholder="City" size="15">
						<input type="text" name="countryDst" id="countryDst" placeholder="Country">
					</p>
					
					<p>Transport used
						<select name="transport" size=1 id="transport">
								<option value="train" id="train">train</option>
								<option value="" id="car">car</option>
								<option value="plane" id="plane">plane</option>
								<option value="boat" id="boat">boat</option>
								<option value="bus" id="bus">bus</option>
								<option value="tram" id="tram">tram</option>
								<option value="bicycle" id="bicycle">bicycle</option>
								<option value="moto" id="moto">moto</option>
								<option value="metro" id="metro">metro</option>
								<option value="foot" id="foot">by foot</option>
								<option value="eBike" id="eBike">electric bike</option>
								<option value="eScooter" id="eScooter">eletric scooter</option>
						</select>
					</div>
					
					<form method="post" action="cgi-bin/show_params.cgi" id="inPersonAdd" name="inPersonAdd"> 
						<span id ="inPersonAdded"></span>
						<p><input type="button" id="moreDst" value="Add Route"><p>
					</form>
					
					<p><button type="submit" name="sendInPerson" id="sendInPerson">Submit</button></p>
				</fieldset>
			</form>
		</div>
		<br><hr>
		
		<div class="output">
			<fieldset>
				<legend><h2>Output</h2></legend>
				<fieldset>
					<legend><h3>Remote meeting output</h3></legend>
			
					<p>Consumption category : <span class="consumptionCatRemote"><b>{{data.remote.consumption}}</b></span></p>
				
				
					<p>Total emission of CO2 [kg/h/user] : <span class="totalEmissionRemote"><b>{{data.remote.total_emission_co2}}</b></span></p>
				</fieldset>
				<br>
				<fieldset>
					<legend><h3>In person meeting output</h3></legend>
			
					<p>Consumption category in person meeting : <span class="consumptionCatInPers"><b>{{data.in_person.consumption}}</b></span></p>
			
					<p>Total emission of CO2 due to travel[kg/h/user] : <span class="totalEmissionInPers"><b>{{data.in_person.total_emission_co2}}</b></span></p>
				</fieldset>
				<br>
				<fieldset>
					<legend><h3>Difference of CO2 emissions</h3></legend>
					<p>Difference between remote and in person meetings (in person - remote) : <span class="diffEmission"><b>{{data.difference}}</b></span></p>
				</fieldset>
			</fieldset>
		</div>	
    </body>
</html>
